/* resets and background  */
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(./images/img.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .section {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
  
  .d-flex {
    display: flex;
  }
  
  /* header section */
  
  .header {
    width: 100%;
    text-align: center;
    color: #fff;
  }
  textarea {
    resize: none;
    height: 100px;
    background-color: transparent;
    border: none;
    text-align: center;
    color: #fff;
    font-size: 1rem;
    width: 70%;
  }
  
  /* keyboard section */
  
  .keyboard {
    text-align: center;
    background: linear-gradient(
      rgba(136, 134, 134, 0.2),
      rgba(175, 171, 171, 0.2)
    );
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .btn,
  .space,
  .delete {
    margin-top: 1rem;
    padding: 0.5rem 2.5rem;
    margin-right: 0.3rem;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    border: 3px solid black;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
  }
  
  .delete i {
    color: rgb(172, 171, 171);
    font-size: 1.5rem;
  }
  
  .btn:hover,
  .space:hover,
  .delete:hover {
    background: linear-gradient(rgba(10, 10, 10, 0.7), rgba(8, 8, 8, 0.7));
  }
  
  .space {
    width: 40%;
  }
  
  @media (max-width: 1024px) {
    .btn,
    .space {
      padding: 0.5rem 2rem;
    }
  }

